section.footer-section
  div.container
    div.row
      div.col-lg-3
        a.footer-logo.navbar-brand(href="/") optiBPO 
      div.col-lg-7
        ul.list-inline
          li
            a(href="/about-us") How we work 
          li
            a(href="/about-us") Why Philippines 
          li
            a(href="/about-us") Pricing 
          li
            a(href="/about-us") Contact us 
      div.col-lg-2
        div.text-right
          span.copy-right(href="/about-us") © 2014 optiBPO
script(src='/bower_components/jquery/dist/jquery.min.js')
script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
script(src='/bower_components/jquery-viewport-checker/jquery.viewportchecker.js')
script(src="/bower_components/jquery-validation/dist/jquery.validate.js")

script(src='/javascripts/main.js')
script(src='//localhost:35729/livereload.js')

        