nav.navbar.navbar-default(role="navigation")
  div.container
    div.navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.header-logo.navbar-brand(href="/") optiBPO 
    div.navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          a(href="/how-we-work") How we work 
        li
          a(href="/the-business-case") The Business Case 
        li
          a(href="/why-philippines") Why Philippines
        li
          a(href="/pricing") Pricing
        li
          a(href="/contact-us") Contact us 
