nav.navbar.navbar-default(role="navigation")
  div.container
    div.navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.header-logo.navbar-brand(href="/") optiBPO 
    div.navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          a(href="/how-we-work") How we work 
        li
          a(href="/cost-savings") Cost Savings 
        li
          a(href="/why-philippines") Why Philippines
        li
          a(href="/pricing") Pricing
        li
          a(href="/contact-us") Contact us 
      ul.call-us-container.nav.navbar-nav.pull-right
        li
          span.call-us Call Us 
            span.header-phone +61 2 8071 4155
