include ./layouts/header.jade
		include ./layouts/nav.jade
		section.header-bg#contact-us-bg-image
			div.container-fluid
				div.row
					div.header-text
						div.col-sm-5.col-sm-offset-1.col-md-5.col-md-offset-1.col-lg-5.col-lg-offset-1
							h2 Get in touch with us.
							p We love to hear from you so please don't hesitate to get in touch. We promise to respond within 12 hours of receiving your message!
						- function isEmptyObject(obj) {
						- 		var name;
						-      for (name in obj) {
						-        return false;
						-      }
						-      return true;
						-    }
						- if (isEmptyObject(errors) == false)
							p.errorMessage= "The following errors occurred:"
							ul  
								- each error in errors
									li= error.msg
						-	else 
						div.contact-form.col-sm-5.col-md-5.col-lg-5
							p(class = successClass)=message 
							p.success#success
							form#contact-us-form(method="post" action="/contact-us")
								input#name.form-control(type="text" placeholder="Name" name="name")
								input#email.form-control(type="text" placeholder="Email" name="email")
								textarea#message.form-control(placeholder="Message" name="message" rows="5")
								input.contact-submit.btn-block(type="submit")
		section.our-office-section.model-section
			div.container
				div.row
					h2.our-office-text.text-center Our office
				div.row
					div.map-container
						div.contact-container.col-xs-12.col-sm-3.col-sm-offset-8.col-md-3.col-md-offset-8.col-lg-4.col-lg-offset-7
							div.contact-person
								strong.name Jamie Mcbrien
								p.title Director, optiBPO
								p
									span.icon-location 
									span.address Level 12 309 Kent Street Sydney NSW 2000
								a.phone-number(href="callto:+61 2 8071 4155")
									span.icon-mobile
									span.num +61 2 8071 4155
			div#map-canvas

		div.blue-pattern
		include ./layouts/footer.jade
		script(src="https://maps.googleapis.com/maps/api/js")
		script.
			google.maps.event.addDomListener(window, 'load', initialize);

			function initialize() {
					var mapCanvas = document.getElementById('map-canvas');
					var location = new google.maps.LatLng(-33.8673199, 151.2043096);
					var mapOptions = {
						center: location,
						zoom: 15,
						mapTypeId: google.maps.MapTypeId.ROADMAP,
						scrollwheel: false
					}
					var map = new google.maps.Map(mapCanvas, mapOptions);
					var icon = "http://optibpo.com/images/icon-contact-us-marker.png";

					map.panBy(130, 0);

					new google.maps.Marker({
							position: location,
							map: map,
							icon: icon
					});
			}



			google.maps.event.addDomListener(window, 'load', initialize);

