include ./layouts/header.jade
    include ./layouts/nav.jade
    section.header-bg#cost-savings-bg-image
      div.container
        div.row
          div.header-text
            div.col-sm-8.col-md-8.col-lg-6.col-lg-offset-1
              h2 Cost savings 
              p The following are only indicative cost savings, with the specific salaries dependent on experience, expertise and full role description. 
              p Contact us in relation to your specific requirements, and we can provide a more precise estimate.
    section.cost-savings-container.model-section
      div.container
        div.row
          div.col-lg-8.col-lg-offset-2.text-center
            h1 Typically, salaries in the Philippines are 20-30% of those in Australia, representing a saving of around 70-80% in direct salary costs. 
        div.row
          div.job-container
            div.col-xs-3.col-sm-3.col-md-3.col-lg-3.text-right
              h3.job-title Financial Controller
              p.cost-au Australia
              p.cost-mnl Manila 
            div.graph-container
              div.col-xs-9.col-sm-8.col-md-8.col-lg-8
                div.gray-graph
                  div.financial-controller-au
                    div.violet-graph
                      span.figure $120,000 - $150,000
              div.col-xs-9.col-sm-8.col-md-8.col-lg-8
                div.gray-graph
                  div.financial-controller-mnl
                    div.blue-graph
                      span.figure $25,000 - $40,000
        div.row
          div.job-container
            div.col-xs-3.col-sm-3.col-md-3.col-lg-3.text-right
              h3.job-title Senior Accountant
              p.cost-au Australia
              p.cost-mnl Manila 
            div.graph-container
              div.col-xs-9.col-sm-8.col-md-8.col-lg-8
                div.gray-graph
                  div.senior-accountant-au
                    div.violet-graph
                      span.figure $60,000 - $80,000
              div.col-xs-9.col-sm-8.col-md-8.col-lg-8
                div.gray-graph
                  div.senior-accountant-mnl
                    div.blue-graph
                      span.figure $10,000 - $15,000
        div.row
          div.job-container
            div.col-xs-3.col-sm-3.col-md-3.col-lg-3.text-right
              h3.job-title Assistant Accountant
              p.cost-au Australia
              p.cost-mnl Manila 
            div.graph-container
              div.col-xs-9.col-sm-8.col-md-8.col-lg-8
                div.gray-graph
                  div.assistant-accountant-au
                    div.violet-graph
                      span.figure $50,000 - $60,000
              div.col-xs-9.col-sm-8.col-md-8.col-lg-8
                div.gray-graph
                  div.assistant-accountant-mnl
                    div.blue-graph
                      span.figure $8,000 - $10,000
        div.row
          div.job-container
            div.col-xs-3.col-sm-3.col-md-3.col-lg-3.text-right
              h3.job-title Accounts Clerk (e.g. AP)
              p.cost-au Australia
              p.cost-mnl Manila 
            div.graph-container
              div.col-xs-9.col-sm-8.col-md-8.col-lg-8
                div.gray-graph
                  div.accounts-clerk-au
                    div.violet-graph
                      span.figure $35,000 - $50,000
              div.col-xs-9.col-sm-8.col-md-8.col-lg-8
                div.gray-graph
                  div.accounts-clerk-mnl
                    div.blue-graph
                      span.figure $6,000 - $8,000
    include ./layouts/footer-cta.jade
    div.blue-pattern
    include ./layouts/footer.jade
