include ./layouts/header.jade
    include ./layouts/nav.jade
    section.header-bg#how-we-work-bg-image
      div.container
        div.row
          div.header-text
            div.col-lg-8.col-md-12.col-lg-offset-1
              h2 How we work 
              p After an initial honeymoon period, many outsourcings “hit the ditch”, as reality sets in, and design flaws in processes and systems are uncovered.  We manage that risk, by starting small (often even just a single person), clearly defining scope, proving the concept, building confidence, and then extending. 
              p At each stage, there are reviews and checkpoints to ensure there are no disruptions to your operations.
    section.supported-by-us-container
      div.container
        div.row
          div.col-lg-8.col-lg-offset-2
            h2.supported-text.text-center Supported by optiBPO
        div.row
          div.col-xs-12.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2.how-list-item
            div.col-xs-12.col-sm-5.col-md-5.col-lg-5
              img(src="/images/icon-how-recruit.png", alt="")
            div.col-xs-12.col-sm-7.col-md-7.col-lg-7 
              h2 Recruiting the right people
              p In consultation with you, optiBPO will assist you to recruit and engage suitably qualified staff that will be an extension of your onshore team. 
        div.row
          div.col-xs-12.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2.how-list-item
            div.col-xs-12.col-sm-7.col-md-7.col-lg-7 
              h2 Managing individual and team performance
              p We will work with you to manage the performance of your team, ensuring they are engaged.   This includes providing performance reporting, and employee discipline.
            div.col-xs-12.col-sm-5.col-md-5.col-lg-5
              img(src="/images/icon-how-manage.png", alt="")
        div.row
          div.col-xs-12.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2.how-list-item
            div.col-xs-12.col-sm-5.col-md-5.col-lg-5
              img(src="/images/icon-how-provide.png", alt="")
            div.col-xs-12.col-sm-7.col-md-7.col-lg-7 
              h2 Providing first grade offices
              p Your team will work out of our first grade offices in Manila, typically working Australian business hours.
        div.row
          div.col-xs-12.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2.how-list-item
            div.col-xs-12.col-sm-7.col-md-7.col-lg-7 
              h2 Provisioning of technology
              p We will provide a computer, screen, VOIP phone (with an Australian phone number), fax and printers. Additional systems can be provided as required.
            div.col-xs-12.col-sm-5.col-md-5.col-lg-5
              img(src="/images/icon-how-provision.png", alt="")
        div.row
          div.col-xs-12.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2.how-list-item
            div.col-xs-12.col-sm-5.col-md-5.col-lg-5
              img(src="/images/icon-how-ensure.png", alt="")
            div.col-xs-12.col-sm-7.col-md-7.col-lg-7 
              h2 Ensuring time & attendance
              p Your team will work out of our first grade offices in Manila, typically working Australian business hours.
        div.row
          div.col-xs-12.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2.how-list-item
            div.col-xs-12.col-sm-7.col-md-7.col-lg-7 
              h2 Managing payroll & benefits
              p We will manage all payroll & benefits, including employee and employer benefits. These costs will be totally transparent to you.
            div.col-xs-12.col-sm-5.col-md-5.col-lg-5
              img(src="/images/icon-how-benefits.png", alt="")
        div.row
          div.col-xs-12.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2.how-list-item
            div.col-xs-12.col-sm-5.col-md-5.col-lg-5
              img(src="/images/icon-how-health.png", alt="")
            div.col-xs-12.col-sm-7.col-md-7.col-lg-7 
              h2 Ensuring compliance & providing for staff
              p All local employee taxes are managed by us, and your team will be provided the necessary health and life insurance under our Group policy.
    section.provided-by-you-container
      div.container
        div.row
          div.col-lg-8.col-lg-offset-2
            h2.provided-text.text-center Provided by You
        div.row
          div.blue-border.col-xs-12.col-sm-12.col-md-10.col-md-offset-1.col-lg-10.col-lg-offset-1.how-list-item
            div.col-xs-12.col-sm-5.col-md-4.col-lg-4
              img(src="/images/icon-how-building.png", alt="")
            div.col-xs-12.col-sm-7.col-md-8.col-lg-8 
              h2 Building business process for success
              p Critical to ensure success, is building business processes that support your offshore operations.  optiBPO can work with you to transform your business processes and ensure your offshoring is a success.
        div.row
          div.col-xs-12.col-sm-12.col-md-10.col-md-offset-1.col-lg-10.col-lg-offset-1.how-list-item
            div.col-xs-12.col-sm-7.col-md-8.col-lg-8 
              h2 Providing business specific tools
              p If business specific tools or business systems are required, beyond our standard build, these can be provided by you, or us.  In addition, optiBPO can advise on additional tools that may drive further benefits.
            div.col-xs-12.col-sm-5.col-md-4.col-lg-4
              img(src="/images/icon-how-specific.png", alt="")
    include ./layouts/footer-cta.jade
    div.blue-pattern
    include ./layouts/footer.jade
