include ./layouts/header.jade
    include ./layouts/nav.jade
    section.header-bg#homepage-bg-image
      div.container
        div.row
          div.header-text
            div.col-sm-8.col-md-8.col-lg-6.col-lg-offset-1
              h2 Optimising accounting outsourcing
              p optiBPO assists Australian & New Zealand companies setup offshore Accounting & Back Office operations in the Philippines.
              button.btn.btn-lg.primary-btn
                span.how-we-work-btn Learn how optiBPO can work best for your business
    section.model-section
      div.container
        div.row
          div.col-lg-8.col-lg-offset-2
            h2.model-text.text-center The optiBPO model is unique, in that it sits between traditional outsourcing, and setting up your own offshore business.  
        div.row
          div.col-lg-10.col-lg-offset-1
            img.img-model.img-responsive(src="/images/homepage-optibpo-model.jpg", alt="")
        div.row
          div.col-lg-8.col-lg-offset-2
            p.text-center  The model delivers clearly defined and effective processes, while ensuring that you always have oversight and control. They are an extension of your team, not a separate part, and they will report on their performance, providing you comfort that service levels are being met.
    section.transition-section
      div.container
        div.row
          div.col-lg-8.col-lg-offset-2
            h2.text-center You can choose the level of transition support depending on your requirements, capability, and bandwidth.
        div.container
          div.homepage-table.table-responsive
            table.table.table-bordered
              tr
                td  
                td.active  
                  img.center-block(src="/images/icon-arrow-assess.png")
                  ul
                    li Initial assessment
                    li Cost/benefit analysis
                    li Full plan
                td.active  
                  img.center-block(src="/images/icon-arrow-design.png")
                  ul
                    li Design processes 
                    li Define system enablers 
                    li Document procedures
                td.active  
                  img.center-block(src="/images/icon-arrow-recruit.png")
                  ul
                    li Write job descriptions 
                    li Interview candidates 
                    li  Recruit resources
                td.active  
                  img.center-block(src="/images/icon-arrow-transition.png")
                  ul
                    li Setup systems 
                    li Cost/benefit analysys 
                    li Transition activities 
                    li Go live
                td.active  
                  img.center-block(src="/images/icon-arrow-monitor.png")
                  ul
                    li Report on performance
                    li Extend to other areas 
              tr
                td
                  h4 Full Service
                  td 
                    span.check Check
                  td 
                    span.check Check
                  td 
                    span.check Check
                  td 
                    span.check Check
                  td 
                    span.check Check
              tr
                td
                  h4 Transformation 
                  td 
                    span 
                  td 
                    span.check Check
                  td 
                    span.check Check
                  td 
                    span.check Check
                  td 
                    span.check Check
              tr
                td
                  h4 Co-sourcing 
                  td 
                    span
                  td 
                    span
                  td 
                    span.check Check
                  td 
                    span
                  td 
                    span.check Check
    section.benefits-section
      div.container
        div.row
          div.col-lg-8.col-lg-offset-2
            h2.text-center There are clear benefits in working with optiBPO on your outsourcing strategy, being:
        div.row
          div.benefit-list
            div.col-sm-6.col-md-6.col-lg-5.col-lg-offset-1
              div.text-center
                img(src="/images/icon-homepage-established.png", alt="We establish")
              h3.text-center We establish
              p.text-center We host and help manage the roll out, including recruiting your team
            div.col-sm-6.col-md-6.col-lg-6
              div.text-center
                img(src="/images/icon-homepage-full-control.png", alt="We establish")
              h3.text-center You retain full control
              p.text-center Resources will always work under your direction
        div.row
          div.benefit-list
            div.col-sm-6.col-md-6.col-lg-5.col-lg-offset-1
              div.text-center
                img(src="/images/icon-homepage-we-know.png", alt="We establish")
              h3.text-center We know the Philippines 
              p.text-center We have over 150 resources in Manila 
            div.col-sm-6.col-md-6.col-lg-4.col-lg-offset-1
              div.text-center
                img(src="/images/icon-homepage-start-small.png", alt="We establish")
              h3.text-center You can start small
              p.text-center The model works for single roles), and grow, allowing you to manage the risk, and prove the benefit
        div.row
          div.benefit-list
            div.col-sm-6.col-md-6.col-lg-5.col-lg-offset-1
              div.text-center
                img(src="/images/icon-homepage-experts.png", alt="We establish")
              h3.text-center We are experts 
              p.text-center We have expertise in setting up offshore accounting services 
            div.col-sm-6.col-md-6.col-lg-6
              div.text-center
                img(src="/images/icon-homepage-investment.png", alt="We establish")
              h3.text-center Your initial investment is minimal 
              p.text-center Your ongoing costs are low and transparent 
    include ./layouts/footer-cta.jade
    div.blue-pattern
    include ./layouts/footer.jade
