include ./layouts/header.jade
    include ./layouts/nav.jade
    section.header-bg#pricing-bg-image
      div.container
        div.row
          div.header-text
            div.col-lg-1
            div.col-lg-8.col-md-12
              h2 Our pricing is straightforward and transparent.
    section.pricing-section.model-section
      div.container
        div.row
          div.col-lg-8.col-lg-offset-2.text-center
            h1 All costs are invoiced in Australian dollars, and invoiced in Australia with a GST tax invoice (i.e. there are no offshore payments)
        div.row
          div.col-sm-12.col-md-12.col-lg-12
            div.col-sm-3.col-md-3.col-lg-3
              div.text-center
                img(src="/images/icon-pricing-direct.png", alt="")
                img.img-plus.img-right(src="/images/icon-pricing-plus.png", alt="")
                h2 Direct staff costs
                p Direct staff costs include base salary, benefits, taxes and insurances, and all are invoiced at cost.
            div.col-sm-3.col-md-3.col-lg-3
              div.text-center
                img(src="/images/icon-pricing-services.png", alt="")
                img.img-plus.img-right(src="/images/icon-pricing-plus.png", alt="")
                h2 Services fees
                p This covers the provision of all our services to support your offshore operations. This is made up of a once off establishment fee (per role), and an ongoing monthly seat fee.
            div.col-sm-3.col-md-3.col-lg-3
              div.text-center
                img(src="/images/icon-pricing-special.png", alt="")
                img.img-equals.img-right(src="/images/icon-pricing-equals.png", alt="")
                h2 Special tools costs
                p These costs are only relevant if you have any specialist hardware/software that you require us to provide.  This is invoiced at cost.
            div.col-sm-3.col-md-3.col-lg-3
              div.text-center
                img(src="/images/icon-pricing-transparent.png", alt="")
                h2 Transparent pricing
    include ./layouts/footer-cta.jade
    div.blue-pattern
    include ./layouts/footer.jade
