include ./layouts/header.jade
    include ./layouts/nav.jade
    section.header-bg#homepage-bg-image
      div.container
        div.row
          div.header-text
            div.col-sm-8.col-md-8.col-lg-6.col-lg-offset-1
              h2 The Business Case 
    include ./layouts/footer-cta.jade
    div.blue-pattern
    include ./layouts/footer.jade
