include ./layouts/header.jade
    include ./layouts/nav.jade
    section.header-bg#why-philippines-bg-image
      div.container-fluid
        div.row
          div.header-text
            div.col-lg-1
            div.col-lg-8.col-md-12
              h2 Why Philippines
              p Philippine economy is one of the fastest growing in Asia
    section.why-philippines-container
      div.container
        div.row
          div.col-lg-8.col-lg-offset-2
            h2.text-center Supported by optiBPO
        div.row
          div.col-lg-8.col-lg-offset-2.why-list-item 
            div.col-lg-4
              img(src="/images/icon-why-young.png", alt="")
            div.col-lg-8 
              h2 Young, “Social” and Enterprising
              ul
                li One of the youngest populations in the Asia at an average of 22 years.
                li Ranked 8th on Facebook Users, 10th on Twitter
                li 3rd most enterpiring country in the world
        div.row
          div.col-lg-8.col-lg-offset-2.why-list-item 
            div.col-lg-4
              img(src="/images/icon-why-member.png", alt="")
            div.col-lg-8
              h2 Member of the ASEAN Free-TradeArea
              p In consultation with you, optiBPO will assist you to recruit and engage suitably qualified staff that will be an extension of your onshore team. 
        div.row
          div.col-lg-8.col-lg-offset-2.why-list-item 
            div.col-lg-4
              img(src="/images/icon-why-global.png", alt="")
            div.col-lg-8
              h2 Improved Global Competitiveness Indices
              p In consultation with you, optiBPO will assist you to recruit and engage suitably qualified staff that will be an extension of your onshore team. 
    div.blue-pattern
    include ./layouts/footer.jade
