@import "variables.less";
/**
*
* Variables
*
**/

@color-blue-dark : #262262;
@color-blue : #25aae1;
@color-gray : #474e5a; //text
@color-white : #fff;
@color-gray-lighter : #5a6d7d;

@font-family-primary : "Varela Round", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@font-family-secondary : "Helvetica Neue", "Helvetica", Arial, Lucida Grande, sans-serif;
@font-family-tertiary : "Georgia";

/**
*
* Misc
*
**/


.primary-btn {
	background: @color-blue;
	color: @color-white;
}
.hidden-elem {
     opacity:0;
}
.visible-elem {
     opacity:1;
}

.no-border {
	border: none !important; 
}

body {
}

.navbar {
	z-index: 10;
	padding: 26px;
	border: none;
	background: white;

	ul {
		margin-top: -3px;

		li {
			font-weight: bold;
		}
	}
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: none;
}

@media (max-width: @screen-sm-max) {
	.navbar {
		z-index: 10;
		padding: 26px;
		border: none;
		background: white;

		ul {
			margin-top: 24px;

			li {
				font-weight: bold;
				font-size: 13pt;
				padding: 12px 0;

				a {
					color: @color-blue !important;
				}
			}
		}
	}
}

// Change navbar collapse width to @screen-sm-max
@media (max-width: @screen-sm-max){
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}


@media (min-width: @screen-md-min) {
	.navbar {
		background: url("/images/bg-header-gradient.png") repeat-x !important;
		background-size: cover;
		padding-bottom: 0;

		ul {
			margin-top: -3px;
			padding-left: 60px;

			li {
				font-weight: bold;
			}
		}
	}
}



.header-logo {
	overflow: hidden;
	white-space: nowrap;
	display: block; 
	height: 48px; 
	width: 226px;
	background: url("/images/optiBPO-logo.png") no-repeat; 
	text-indent: 100%;
}

.header-bg {
	position: relative;
	top: -19px;
	height: 540px;
	background-size: cover;

	.header-text {
		position: relative;
		top: 80px;

		h2 {
			font-family: @font-family-primary;
			font-weight: bold;
			font-size: 30pt; 
			line-height: 56px;
			color: @color-blue-dark;
			padding-bottom: 10px;

		}
		p {
			font-family: @font-family-secondary;
			font-size: 13pt;
			line-height: 30px;
			color: @color-gray;
			padding-bottom: 20px;
		}

		.how-we-work-btn {
			font-family: @font-family-primary;
			font-size: 10pt;
		}
	}
}

@media (min-width: @screen-sm-min) { 
	.header-bg{
		top: -100px;

		.header-text {
			top: 160px;

			h2 {
				font-size: 26pt;
				line-height: 50px;
			}

			.how-we-work-btn {
				font-family: @font-family-primary;
				font-size: 12pt;
			}
		}
	}
}


@media (min-width: @screen-lg-min) { 
	.header-bg{
		.header-text {
			top: 160px;

			h2 {
				font-size: 30pt;
				line-height: 55px;
			}
		}
	}
}


// Homepage 
#homepage {

	#homepage-bg-image {
		background: url("/images/bg-homepage-header-sm.jpg") center center no-repeat;	
		background-size: cover;

		.header-text {
			p {
				color: @color-white;
			}
		}
	}


	@media (min-width: @screen-sm-min) { 
		#homepage-bg-image {
			background: url("/images/bg-homepage-header.jpg") center center no-repeat;	
			background-size: cover;

			.header-text {
				p {
					color: @color-gray;
				}
			}
		}

		h1 {
			font-family: @font-family-secondary;
			font-size: 28pt;
			font-weight: 300;
			color: @color-blue-dark;
			letter-spacing: 0.03em;
		}
	}

	@media (min-width: @screen-xs-min) { 
		#homepage-bg-image {
			.header-text {
				p {
					color: @color-gray;
				}
			}
		}
	}

	.img-model {
		padding: 20px 0;
	}

}

// How we work 
#cost-savings {

	#cost-savings-bg-image {
		background: url("/images/bg-cost-savings-header-sm.jpg") center center no-repeat;	
		background-size: cover;

		.header-text {
			h2 {
				color: @color-white;
			}

			p {
				color: @color-white;
			}
		}
	}

	@media (min-width: @screen-sm-min) { 
		#cost-savings-bg-image {
			background: #3b3b5f url("/images/bg-cost-savings-header.jpg") center center no-repeat;	
			background-size: cover;
		}
	}

	@media (min-width: @screen-md-min) {
		.header-logo { 
			background: url("/images/optiBPO-logo-white.png") no-repeat; 
		}
	}
	
	.navbar {
		ul {
			li {
				a {
					color: #282828;
				}
			}
		}
	}

	@media (min-width: @screen-md-min) {
		.navbar {
			ul {
				li {
					a {
						color: @color-white;
					}
				}
			}
		}
	}

	h1 {
		color: #5a6d7d;
		font-weight: 400;
		font-size: 15pt;
		line-height: 36px;
		padding-bottom: 40px;
	}

	.job-container {
		padding-bottom: 60px !important;
		overflow: hidden;

	}

	.job-title {
		color: @color-gray;
		font-weight: normal;
		font-size: 11pt;
		text-align: left;
	}

	@media (min-width: @screen-sm-min) {
		.job-title {
			color: @color-gray;
			font-weight: normal;
			font-size: 13pt;
			text-align: right;
		}
	}


	.cost-au {
		color: #53517d;
		font-size: 11pt;
		font-weight: bold;
		padding: 0;
		margin: 0;
	}

	.cost-mnl {
		color: @color-blue;
		font-size: 11pt;
		font-weight: bold;
		padding: 0;
		margin: 0;
	}

	.graph-container {
		position: relative;
		top: 54px;
	}

	.violet-graph {
		background: #53517d;
		border-radius: 50px;
		height: 10px;
		width: 100%;

		.figure {
			color: @color-blue-dark;
			float: right;
			padding: 2px 5px;
			position: relative;
			top: -25px;
			left: 10px;
		}
	}

	.blue-graph {
		background: @color-blue;
		border-radius: 50px;
		height: 10px;
		width: 100%;

		.figure {
			color: @color-blue;
			float: right;
			background: #fff9d0;
			padding: 2px 5px;
			position: relative;
			top: 20px;
		}
	}


	.financial-controller-au {
		width: 1%;

		.figure {
			text-align: center;
			display: inline-block;
			opacity: 0;
			display: block;
			width: 150px;

		}
	}

	.financial-controller-au-expandwidth {
		display:block;
		width: 100%;
		-moz-animation: financial-controller-au-expandwidth 2s ease-out;
		-webkit-animation: financial-controller-au-expandwidth 2s ease-out;

		.figure {
			opacity: 1;
		}
	}
	
	@-webkit-keyframes financial-controller-au-expandwidth
	{ 
		0%  { width:0px; opacity: 0;} 
		100%{ width:100%; opacity: 1;}  
	}

	.financial-controller-mnl {
		width: 1%;
		
		.blue-graph {

			.figure {
				text-align: center;
				display: inline-block;
				left: 70px;
				opacity: 0;
				width: 148px;
			}
		}
	}

	.financial-controller-mnl-expandwidth {
		display:block;
		width: 35%;
		-moz-animation: financial-controller-mnl-expandwidth 2s ease-out;
		-webkit-animation: financial-controller-mnl-expandwidth 2s ease-out;

		.blue-graph {

			.figure {
				opacity: 1;
			}
		}
	}
	
	@-webkit-keyframes financial-controller-mnl-expandwidth
	{ 
		0%  { width:0px; opacity: 0;} 
		100%{ width:35%; opacity: 1;}  
	}

	.senior-accountant-au {
		width: 1%;

		.figure {
			text-align: center;
			display: inline-block;
			opacity: 0;
			display: block;
			width: 150px;

		}
	}

	.senior-accountant-au-expandwidth {
		display:block;
		width: 56%;
		-moz-animation: senior-accountant-au-expandwidth 2s ease-out;
		-webkit-animation: senior-accountant-au-expandwidth 2s ease-out;

		.figure {
			opacity: 1;
		}
	}
	
	@-webkit-keyframes senior-accountant-au-expandwidth
	{ 
		0%  { width:0px; opacity: 0;} 
		100%{ width:56%; opacity: 1;}  
	}


	.senior-accountant-mnl {
		width: 1%;

		.figure {
			text-align: center;
			display: inline-block;
			left: 70px;
			opacity: 0;
			display: block;
			width: 140px;
		}

		@media (min-width: @screen-sm-min) { 
			.figure {
				width: 150px;
			}
		}
	}

	.senior-accountant-mnl-expandwidth {
		display:block;
		width: 24%;
		-moz-animation: senior-accountant-mnl-expandwidth 2s ease-out;
		-webkit-animation: senior-accountant-mnl-expandwidth 2s ease-out;

		.figure {
			opacity: 1;
		}
	}
	
	@-webkit-keyframes senior-accountant-mnl-expandwidth
	{ 
		0%  { width:0px; opacity: 0;} 
		100%{ width:24%; opacity: 1;}  
	}


	.assistant-accountant-au {
		width: 1%;

		.figure {
			text-align: center;
			display: inline-block;
			opacity: 0;
			display: block;
			width: 150px;
		}

	}

	.assistant-accountant-au-expandwidth {
		display:block;
		width: 50%;
		-moz-animation: assistant-accountant-au-expandwidth 2s ease-out;
		-webkit-animation: assistant-accountant-au-expandwidth 2s ease-out;

		.figure {
			opacity: 1;
		}
	}
	
	@-webkit-keyframes assistant-accountant-au-expandwidth
	{ 
		0%  { width:0px; opacity: 0;} 
		100%{ width:50%; opacity: 1;}  
	}

	.assistant-accountant-mnl {
		width: 1%;

		.figure {
			text-align: center;
			display: inline-block;
			left: 70px;
			opacity: 0;
			display: block;
			width: 120px;
		}

		@media (min-width: @screen-sm-min) { 
			.figure {
				width: 150px;
			}
		}
	}

	.assistant-accountant-mnl-expandwidth {
		display:block;
		width: 19%;
		-moz-animation: assistant-accountant-mnl-expandwidth 2s ease-out;
		-webkit-animation: assistant-accountant-mnl-expandwidth 2s ease-out;

		.figure {
			opacity: 1;
		}
	}
	
	@-webkit-keyframes assistant-accountant-mnl-expandwidth
	{ 
		0%  { width:0px; opacity: 0;} 
		100%{ width:19%; opacity: 1;}  
	}

	.accounts-clerk-au {
		width: 1%;

		.figure {
			text-align: center;
			display: inline-block;
			opacity: 0;
			display: block;
			width: 150px;
		}
	}

	.accounts-clerk-au-expandwidth {
		display:block;
		width: 40%;
		-moz-animation: accounts-clerk-au-expandwidth 2s ease-out;
		-webkit-animation: accounts-clerk-au-expandwidth 2s ease-out;

		.figure {
			opacity: 1;
		}
	}
	
	@-webkit-keyframes accounts-clerk-au-expandwidth
	{ 
		0%  { width:0px; opacity: 0;} 
		100%{ width:40%; opacity: 1;}  
	}


	.accounts-clerk-mnl {
		width: 1%;

		.figure {
			text-align: center;
			display: inline-block;
			left: 70px;
			opacity: 0;
			display: block;
			width: 120px;
		}

		@media (min-width: @screen-sm-min) { 
			.figure {
				width: 150px;
			}
		}
	}

	.accounts-clerk-mnl-expandwidth {
		display:block;
		width: 16%;
		-moz-animation: accounts-clerk-mnl-expandwidth 2s ease-out;
		-webkit-animation: accounts-clerk-mnl-expandwidth 2s ease-out;

		.figure {
			opacity: 1;
		}
	}
	
	@-webkit-keyframes accounts-clerk-mnl-expandwidth
	{ 
		0%  { width:0px; opacity: 0;} 
		100%{ width:16%; opacity: 1;}  
	}

	.gray-graph {
		background: #ebebeb;
		border-radius: 50px;
		height: 10px;
		width: 100%;
	}

	.no-padding {
		margin: 0 !important;
		padding: 0 !important;
	}
}


// Why Philippines
#why-philippines{

	#why-philippines-bg-image {
		background: url("/images/bg-why-philippines-header-sm.jpg") center center no-repeat;	
		background-size: cover;
	}

	@media (min-width: @screen-sm-min) { 
		#why-philippines-bg-image {
			background: url("/images/bg-why-philippines-header.jpg") center center no-repeat;	
			background-size: cover;
		}
	}

	.why-text {
			font-family: @font-family-secondary;
			font-size: 28pt;
			font-weight: 300;
			color: @color-blue-dark;
			letter-spacing: 0.03em;
	}

	.why-list-item {
		padding: 40px 0;
		border-bottom: 1px solid #d9e0e8;

		h2 {
			font-family: @font-family-secondary;
			font-size: 26pt;
			font-weight: 300;
			color: #444;
			letter-spacing: 0.03em;
		}

		p {
			text-align: center;
		}

		img {
			margin: 0 auto;
			display: block;
		}
	}

	@media (min-width: @screen-sm-min) {
		.why-list-item {
			padding: 40px 0;
			border-bottom: 1px solid #d9e0e8;

			h2 {
				font-family: @font-family-primary;
				font-size: 18pt;
				text-align: left;
				line-height: 38px;
				color: @color-gray;
			}

			p {
				text-align: left;
			}
		}	
	}

	.bpo-in-ph-container {
		padding: 20px 0;
		overflow: hidden;
		background: #ebf0f4 url(/images/bg-homepage-pattern-gray.png);

		h2 {
			color: @color-blue-dark;
		}
		ul {
			list-style: none;
			li {
				display: relative;
				color: @color-blue-dark;
				margin: 40px 0;
				font-size: 12pt;

				.bpo-why-list {
					display: block;
					width: 32px; 
					height: 32px;
					margin-right: 20px;
					float: left;
				}
			}
		}
	}

	#bpo-in-ph-list-1 {
		background: url("/images/icon-why-ph-bpo.png") no-repeat;
	}

	#bpo-in-ph-list-2 {
		background: url("/images/icon-why-ph-knowledge.png") no-repeat;
	}

	#bpo-in-ph-list-3 {
		background: url("/images/icon-why-ph-literacy.png") no-repeat;
	}

	#bpo-in-ph-list-4 {
		background: url("/images/icon-why-ph-labor.png") no-repeat;
	}

	#bpo-in-ph-list-5 {
		background: url("/images/icon-why-ph-sustained.png") no-repeat;
	}

	#bpo-in-ph-list-6 {
		background: url("/images/icon-why-ph-speaking.png") no-repeat;
	}
	
	#bpo-in-ph-list-7 {
		background: url("/images/icon-why-ph-graduate.png") no-repeat;
	}

	.asian-growth-container {
		padding: 20px 0;

		h2 {
			color: @color-gray;
		}
		h3 {
			color: @color-blue-dark;
			font-weight: normal;
			font-size: 14pt;
		}

		p {
			color: @color-gray;
		}
	}

	.next-asian-list {
		padding: 20px 0;
	}
} 


// How we work 
#how-we-work {

	#how-we-work-bg-image {
		background: url("/images/bg-how-we-work-header-sm.jpg") center center no-repeat;	
		background-size: cover;
	}

	@media (min-width: @screen-sm-min) { 
		#how-we-work-bg-image {
			background: #3b3b5f url("/images/bg-how-we-work-header.jpg") center center no-repeat;	
			background-size: cover;
		}
	}

	@media (min-width: @screen-md-min) {
		.header-logo { 
			background: url("/images/optiBPO-logo-white.png") no-repeat; 
		}
	}
	
	.navbar {
		ul {
			li {
				a {
					color: #282828;
				}
			}
		}
	}

	@media (min-width: @screen-md-min) {
		.navbar {
			ul {
				li {
					a {
						color: @color-white;
					}
				}
			}
		}
	}

	#how-we-work-bg-image {
		h2 {
			color: @color-white;
		}

		p {
			font-family: @font-family-secondary;
			color: @color-white;
		}
	}

	.how-list-item {
		padding: 40px 0;
		border-bottom: 1px solid #d9e0e8;

		h2 {
			font-family: @font-family-primary;
			font-size: 21pt;
			text-align: center;
			line-height: 43px;
			color: @color-blue-dark;
		}

		p {
			text-align: center;
		}

		img {
			margin: 0 auto;
			display: block;
		}

		.img-right {
			margin: 0 auto !important;
			display: block !important;
		}
	}

	@media (min-width: @screen-sm-min) {
		.how-list-item {
			padding: 40px 0;
			border-bottom: 1px solid #d9e0e8;

			h2 {
				font-family: @font-family-primary;
				font-size: 18pt;
				text-align: left;
				line-height: 38px;
				color: @color-gray;
			}

			p {
				text-align: left;
				line-height: 24px;
			}
		}	
	}

	.supported-by-us-container {
		.supported-text {
			font-family: @font-family-secondary;
			font-size: 28pt;
			font-weight: 300;
			color: @color-blue-dark;
			letter-spacing: 0.03em;
		}
	}

	@media (min-width: @screen-sm-min) { 
		.supported-by-us-container {
			position: relative;
			top: -70px;
		}
	}

	.provided-by-you-container {
		padding: 60px 0 20px 0;
		background: @color-white;

		.how-list-item {
			border: none;
			border-bottom: 1px solid #d9e0e8;
		}

		.no-border {
			border-bottom: none;
		}

		h2 {
			color: @color-gray;
			padding-bottom: 14px;
		}

		p {
			color: @color-gray;
			line-height: 26px;
		}

		.provided-text {
			font-family: @font-family-secondary;
			font-size: 28pt;
			font-weight: 300;
			color: @color-blue-dark;
			letter-spacing: 0.03em;
		}
	}
}


// Pricing
#pricing {

	#pricing-bg-image {
		background: url("/images/bg-pricing-header-sm.jpg") center center no-repeat;	
		background-size: cover;
	}

	@media (min-width: @screen-sm-min) { 
		#pricing-bg-image {
			background: url("/images/bg-pricing-header.jpg") center center no-repeat;	
			background-size: cover;
		}
	}

	@media (min-width: @screen-md-min) {
		.header-logo { 
			background: url("/images/optiBPO-logo-white.png") no-repeat; 
		}
	}

	.navbar {
		ul {
			li {
				a {
					color: #282828;
				}
			}
		}
	}

	@media (min-width: @screen-md-min) {
		.navbar {
			ul {
				li {
					a {
						color: @color-white;
					}
				}
			}
		}
	}

	#pricing-bg-image {

		h2 {
			color: @color-white;
		}

		p {
			font-family: @font-family-primary;
			color: @color-white;
		}
	}

	.pricing-section {

		h1 {
			color: @color-gray-lighter;
			font-weight: normal;
			font-size: 15pt;
			line-height: 36px;
			padding-bottom: 40px;

		}

		h2 {
			font-size: 11pt;
			color: @color-blue-dark;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 1px;
			padding-bottom: 30px;
		}

		p {
			color: @color-gray-lighter;	
			line-height: 26px;
		}
	}

	.img-equals {
		position: relative;
		top: 10px;
		display: none;
	}

	.img-plus {
		display: none;
	}

	@media (min-width: @screen-sm-min) { 
		.img-plus {
			display: block;
		}

		.img-equals {
			display: block;
		}
	}

	.img-right {
		float: right;
	}
}


.transition-section {
	padding: 40px 0;
	background: #ebf0f4 url("/images/bg-homepage-pattern-gray.png");
	
	h2 {
		font-family: @font-family-secondary;
		font-weight: normal;
		line-height: 34px;
		color: @color-gray;
		font-size: 18pt;
	}

	p {
		font-family: @font-family-secondary;
		font-size: 12pt;
		margin-top: 18px;
		line-height: 28px;
		color: @color-gray-lighter;
	}

	.another-table {
		border: none !important;
	}

	.homepage-table {
		display: none;
	}

	@media (min-width: @screen-lg-min) { 
		.table-image-sm {
			display: none;
		}

		.homepage-table {
			display: block;
		}
	}

	@media (min-width: @screen-sm-min) { 
		.homepage-table {
			background: white;

			ul {
				margin-top: 15px;
				margin-left: -10px;
				li {
					margin: 5px 0;
					color: #434c53;

					font-size: 10pt;
				}
			}
		}

		.check {
			background: url("/images/icon-check.png") no-repeat;
			height: 43px;
			width: 32px;
			display: block;
			margin: 0 auto;
			overflow: hidden;
			white-space: nowrap;
			text-indent: 100%;
		}

		h4 {
			color: @color-blue-dark;
		}
	}


}

.model-section {
	position: relative;
	top: 0;

	.model-text {
		font-family: @font-family-secondary;
		font-weight: normal;
		line-height: 34px;
		color: @color-gray;
		font-size: 18pt;
	}

	.the-model-text {
		font-family: @font-family-secondary;
		font-size: 12pt;
		margin-top: 18px;
		line-height: 28px;
		color: @color-gray-lighter;
	}
}

@media (min-width: @screen-sm-min) { 
	.model-section {
		position: relative;
		top: -70px;
	}
}

.benefits-section {
	padding: 40px 0;

	h2 {
		font-family: @font-family-secondary;
		font-weight: normal;
		line-height: 34px;
		color: @color-gray;
		font-size: 18pt;
		padding-bottom: 44px;
	}

	h3 {
		color: @color-blue;
		font-size: 17pt;
	}

	p {
		color: @color-gray;
		font-size: 14pt;
	}

	.benefit-list {
		padding: 20px 0;
		overflow: hidden;
	}
}


.contact-us-cta-section {
	padding: 40px 0;
	border-top: 1px solid #d9e0e8;

	h2 {
		font-family: @font-family-primary;
		font-weight: bold;
		color: @color-gray-lighter;
	}

	p {
		font-family: @font-family-primary;
		font-size: 12pt;
		color: @color-gray-lighter;
	}

	.contact-us-btn {
		margin-top: 15px;
		padding: 10px 50px;
		font-size: 11pt;
		font-weight: normal;
	}
}

.blue-pattern {
	background: url("/images/bg-homepage-pattern.png");
	height: 180px;
	min-height: 180px;

}

.footer-section {
	padding: 40px 0;

	.footer-logo-container {

		.footer-logo {
			overflow: hidden;
			white-space: nowrap;
			display: block;
			margin: 0 auto;
			height: 48px; 
			width: 226px;
			background: url("/images/optiBPO-logo.png") no-repeat; 
			text-indent: 100%;
		}

	}

	@media (min-width: @screen-sm-min) {
		.footer-logo-container {
			.footer-logo {
				display: inline-block;
				overflow: hidden;
				white-space: nowrap;
				height: 48px; 
				width: 236px;
				text-indent: 120%;
			}

			.footer-address{
				font-size: 10pt;
				color: @color-gray;
				padding: 0;
				margin: 0 0 5px 0;
			}
			.footer-number {
				color: @color-blue;
				font-size: 10pt;
			}
		}
	}

	ul {
		list-style-type: none;
		margin: 20px 0 0 0;
		padding: 0;

		li {
			text-align: center;	
			margin: 0;
			padding: 10px;

			a { 
				display: block;
				padding: 10px;
				font-weight: bold;
				color: @color-blue;
			}
		}
	}

	@media (min-width: @screen-sm-min) {
		ul {
			position: relative;
			top: 10px;
			margin: 0;
			list-style: none;

			li {
				padding: 0;
				margin-left: 16px;
				float: left;

				a {
					font-weight: bold;
					font-size: 10pt;
					padding: 0;
					color: @color-blue;
				}
			}
		}
	}

	
	.copy-container {
		text-align: center;
	}
	.copy-right {
		color: @color-gray-lighter;
		position: relative;
		top:10px;
	}

	@media (min-width: @screen-sm-min) {
		.copy-container {
			text-align: right;
		}
	}
}


//Contact us
#contact-us {

	#contact-us-bg-image {
		background: url("/images/bg-contact-us-header-sm.jpg") center center no-repeat;	
		height:700px;
		background-size: cover;
	}

	@media (min-width: @screen-sm-min) { 
		#contact-us-bg-image {
			background: url("/images/bg-contact-us-header.jpg") center center no-repeat;	
			height: 540px;
			background-size: cover;
		}
	}

	@media (min-width: @screen-md-min) {
		.header-logo { 
			background: url("/images/optiBPO-logo-white.png") no-repeat; 
		}
	}

	.navbar {
		ul {
			li {
				a {
					color: #282828;
				}
			}
		}
	}

	@media (min-width: @screen-md-min) {
		.navbar {
			ul {
				li {
					a {
						color: @color-white;
					}
				}
			}
		}
	}

	#contact-us-bg-image {

		h2 {
			color: @color-white;
		}

		p {
			font-family: @font-family-primary;
			color: @color-white;
		}
	}

	.contact-form {
		overflow: hidden;
		position: relative;
		top: -30px;

		.message {
			background: red;
			overflow: hidden;
			color: @color-white;
			font-size: 10pt;
			padding: 0 5px;
			display: inline-block;
			position: relative;
			top: 16px;
		}

		.error {
		    border: 2px solid #f00;
		}

		.valid {
		    border: 2px solid @color-blue;
		}

		.success {
			text-align: center;
			font-size: 11pt;
			background: #449D44;
			color: lighten(#449D44, 10%);
			border: 1px solid lighten(#449D44, 20%);
			margin: 0;
			padding: 5px 10px;
		}

		input,textarea {
			border: none;
			border-radius: 0;
			margin: 10px 0;
			padding: 15px;
		}

		.contact-submit {
			padding: 10px;
			font-size: 13pt;
		}

		.contact-submit {
			background: @color-blue;
			border: none; 
			color: @color-white;
		}

		::-webkit-input-placeholder { /* WebKit browsers */
		    color: @color-blue;
		}

		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		    color: @color-blue;
		}

		::-moz-placeholder { /* Mozilla Firefox 19+ */
		    color: @color-blue;
		}

		:-ms-input-placeholder { /* Internet Explorer 10+ */
		    color: @color-blue;
		}
	}

	.our-office-section {

		.our-office-text {
			font-family: "Helvetica Neue",Helvetica,Arial,Lucida Grande,sans-serif;
			font-size: 28pt;
			padding-bottom: 40px;
			font-weight: 300;
			color: #262262;
			letter-spacing: .03em;
		}

		.name {
			color: @color-blue-dark;
			font-size: 18pt;
			font-weight: normal;
		}

		.title {
			color: @color-gray;
			font-size: 12pt;
			font-weight: bold;
			font-weight: normal;
			margin-bottom: 30px;
		}

		.address {
			font-family: @font-family-secondary;
			color: @color-gray-lighter;
			font-size: 11pt;

			position: relative;
			left: 10px;
			top: -3px;
		}	

		.icon-location {
			background: url("/images/icon-location.png") no-repeat;
			display: inline-block;
			width: 14px;
			height: 14px;
			float: left;
		}

		.phone-number {
			color: @color-blue;
			font-family: @font-family-secondary;

			.icon-mobile {
				background: url("/images/icon-phone.png") no-repeat;
				display: inline-block;
				width: 14px;
				height: 14px;
			}

			.num {
				position: relative;
				left: 10px;
				top: -3px;
				font-size: 15pt;
			}
		}


		#map-canvas {
			width: 100%;
			height: 500px;
		}

	}

	@media (min-width: @screen-sm-min) {
		.our-office-section {
			margin-top: 0px;
		}
	}

	.map-container {
		position: relative;
	}

	#map-canvas {
		position: relative;
		z-index: 1;
	}

	.contact-container{
		background: rgba(255,255,255, .9);
		border: 1px solid @color-blue;
		position: absolute;
		padding-top: 20px;
		top: 270px;
		z-index: 999;
	}

	@media (min-width: @screen-sm-min) {

		.contact-container{
			background: rgba(255,255,255, .9);
			border: 1px solid @color-blue;
			// height: 270px;
			position: absolute;
			padding-top: 40px;
			padding-bottom: 40px;
			top: 80px;
			z-index: 999;
		}

	}
}

#success {
	display: none;
}



