@import "variables.less";
/**
*
* Variables
*
**/

@color-blue-dark : #262262;
@color-blue : #25aae1;
@color-gray : #474e5a; //text
@color-white : #fff;
@color-gray-lighter : #5a6d7d;

@font-family-primary : "Varela Round", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@font-family-secondary : "Helvetica", Arial, Lucida Grande, sans-serif;
@font-family-tertiary : "Georgia";
/**
*
* Misc
*
**/

.img-right {
	float: right;
}

.primary-btn {
	background: @color-blue;
	color: @color-white;
}

body {

}

.navbar {
	z-index: 10;
	padding: 26px;
	border: none;
	background: white;

	ul {
		margin-top: -3px;

		li {
			font-weight: bold;
		}
	}
}



@media (min-width: @screen-md-min) {
	.navbar {
		background: url("/images/bg-header-gradient.png") repeat-x !important;
		background-size: cover;
		padding-bottom: 0;

		ul {
			margin-top: -3px;
			padding-left: 60px;

			li {
				font-weight: bold;
			}
		}
	}
}

.header-logo {
	overflow: hidden;
	white-space: nowrap;
	display: block; 
	height: 48px; 
	width: 226px;
	background: url("/images/optiBPO-logo.png") no-repeat; 
	text-indent: 100%;
}

.header-bg {
	position: relative;
	top: -19px;
	height: 640px;
	background-size: cover;

	.header-text {
		position: relative;
		top: 180px;

		h2 {
			font-family: @font-family-primary;
			font-weight: bold;
			font-size: 36pt; 
			line-height: 60px;
			color: @color-blue-dark;
			padding-bottom: 10px;

		}
		p {
			font-family: @font-family-tertiary;
			font-size: 13pt;
			line-height: 30px;
			color: @color-gray;
			padding-bottom: 20px;
		}

		.how-we-work-btn {
			font-family: @font-family-primary;
			font-size: 12pt;
		}
	}
}

@media (min-width: @screen-sm-min) { 
	.header-bg{
		top: -100px;
	}
}

// Homepage 
#homepage {

	#homepage-bg-image {
		background: url("/images/bg-homepage-header.jpg") center center no-repeat;	
	}
}

// Why Philippines
#why-philippines{

	#why-philippines-bg-image {
		background: url("/images/bg-why-philippines-header.jpg") center center no-repeat;	
	}

	.why-list-item {
		padding: 40px 0;
		border-bottom: 1px solid #d9e0e8;

		h2 {
			font-family: @font-family-primary;
			font-size: 19pt;
			line-height: 43px;
			color: @color-blue-dark;
		}
	}
}



// How we work 
#how-we-work {
	.header-logo { 
		background: url("/images/optiBPO-logo.png") no-repeat; 
	}

	@media (min-width: @screen-md-min) {
		.header-logo { 
			background: url("/images/optiBPO-logo-white.png") no-repeat; 
		}
	}
	
	.navbar {
		ul {
			li {
				a {
					color: #282828;
				}
			}
		}
	}

	@media (min-width: @screen-md-min) {
		.navbar {
			ul {
				li {
					a {
						color: @color-white;
					}
				}
			}
		}
	}

	#how-we-work-bg-image {
		background: url("/images/bg-how-we-work-header.jpg") center center no-repeat;	

		h2 {
			color: @color-white;
		}

		p {
			font-family: @font-family-primary;
			color: @color-white;
		}
	}

	.how-list-item {
		padding: 80px 0;
		border-bottom: 1px solid #d9e0e8;

		h2 {
			font-family: @font-family-primary;
			line-height: 43px;
			color: @color-blue-dark;
		}
	}

	.supported-by-us-container {
		.supported-text {
			font-family: @font-family-primary;
			font-size: 14pt;
			text-transform: uppercase;
		}
	}

	@media (min-width: @screen-sm-min) { 
		.supported-by-us-container {
			position: relative;
			top: -70px;
		}
	}

	.provided-by-you-container {
		padding: 40px 0;
		background: @color-blue-dark;

		.how-list-item {
			border-bottom: 1px solid @color-blue;
		}

		h2 {
			color: @color-white;
			padding-bottom: 14px;
		}

		p {
			color: white;
			line-height: 26px;
		}

		.provided-text {
			font-family: @font-family-primary;
			font-size: 14pt;
			text-transform: uppercase;
		}
	}

}

// Pricing
#pricing {
	.header-logo { 
		background: url("/images/optiBPO-logo.png") no-repeat; 
	}

	@media (min-width: @screen-md-min) {
		.header-logo { 
			background: url("/images/optiBPO-logo-white.png") no-repeat; 
		}
	}

	.navbar {
		ul {
			li {
				a {
					color: #282828;
				}
			}
		}
	}

	@media (min-width: @screen-md-min) {
		.navbar {
			ul {
				li {
					a {
						color: @color-white;
					}
				}
			}
		}
	}

	#pricing-bg-image {
		background: url("/images/bg-pricing-header.jpg") center center no-repeat;	

		h2 {
			color: @color-white;
		}

		p {
			font-family: @font-family-primary;
			color: @color-white;
		}
	}

	.pricing-section {

		h1 {
			color: @color-gray-lighter;
			font-weight: normal;
			font-size: 15pt;
			line-height: 36px;
			padding-bottom: 40px;

		}

		h2 {
			font-size: 11pt;
			color: @color-blue-dark;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 1px;
			padding-bottom: 30px;
		}

		p {
			color: @color-gray-lighter;	
			line-height: 26px;
		}
	}

	.img-equals {
		position: relative;
		top: 10px;
	}
}


.transition-section {
	padding: 40px 0;
	background: #ebf0f4 url("/images/bg-homepage-pattern-gray.png");

	h2 {
		font-family: @font-family-primary;
		line-height: 34px;
		color: @color-blue-dark;
		font-size: 18pt;
		padding-bottom: 44px;
	}

	table {
		background: #fff;

		ul {
			li {
				color: #434c53;

				font-size: 10pt;
			}
		}
	}

	.check {
		background: url("/images/icon-check.png") no-repeat;
		height: 43px;
		width: 32px;
		display: block;
		margin: 0 auto;
		overflow: hidden;
		white-space: nowrap;
		text-indent: 100%;
	}

	h4 {
		color: @color-blue-dark;
	}
}

.model-section {
	position: relative;
	top: 0;

	.model-text {
		font-family: @font-family-primary;
		line-height: 34px;
		color: @color-blue-dark;
		font-size: 18pt;
	}
}

@media (min-width: @screen-sm-min) { 
	.model-section {
		position: relative;
		top: -70px;
	}
}

.benefits-section {
	padding: 40px 0;

	h2 {
		font-family: @font-family-primary;
		line-height: 34px;
		color: @color-blue-dark;
		font-size: 18pt;
		padding-bottom: 44px;
	}

	h3 {
		color: @color-blue;
		font-size: 14pt;
	}

	p {
		color: @color-gray-lighter;
	}

	.benefit-list {
		padding: 20px 0;
	}
}

.contact-us-cta-section {
	padding: 40px 0;
	border-top: 1px solid #d9e0e8;

	h2 {
		font-family: @font-family-primary;
		font-weight: bold;
		line-height: 34px;
		color: @color-gray-lighter;
	}

	p {
		font-family: @font-family-primary;
		line-height: 34px;
		font-size: 13pt;
		color: @color-gray-lighter;
	}
}

.blue-pattern {
	background: url("/images/bg-homepage-pattern.png");
	height: 180px;
	min-height: 180px;

}

.footer-section {
	padding: 40px 0;

	.footer-logo {
		overflow: hidden;
		white-space: nowrap;
		display: block; 
		height: 48px; 
		width: 226px;
		background: url("/images/optiBPO-logo.png") no-repeat; 
		text-indent: 100%;
	}

	ul {
		position: relative;
		top: 10px;
		li {
			margin-right: 6px;
			a {
				font-weight: bold;
				font-size: 10pt;
			}
		}
	}

	.copy-right {
		color: @color-gray-lighter;
	}
}




